/* @import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px black dotted; */
}

@font-face {
	font-family: 'Fluxisch';
	src: url('/fonts/FluxischElse-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fluxisch';
	src: url('/fonts/FluxischElse-Light.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fluxisch';
	src: url('/fonts/FluxischElse-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@layer base {
	html::view-transition-old() {
		animation-name: -ua-view-transition-fade-out;
		animation-duration: inherit;
		animation-fill-mode: inherit;
	}

	html::view-transition-new() {
		animation-name: -ua-view-transition-fade-in;
		animation-duration: inherit;
		animation-fill-mode: inherit;
	}
	::view-transition-old(root),
	::view-transition-new(root) {
		animation-duration: 1s;
	}

	body {
		@apply bg-white text-black overflow-y-scroll font-sans;
	}

	h1 {
		@apply text-xl leading-5;
	}
	h2 {
		@apply text-sm leading-5;
	}
	h3 {
		@apply text-sm leading-5;
	}
	h4 {
		@apply text-sm leading-5;
	}
	h5 {
		@apply text-sm;
	}
	h6 {
		@apply text-sm;
	}
	a {
		@apply w-fit h-fit leading-5;
	}
	img {
		@apply w-full h-full object-cover;
	}
	p {
		@apply mb-4 leading-4 text-sm;
	}

	/* CUSTOM SECTION HEADING STYLE */
	.grid_template {
    @apply grid md:grid-cols-12 md:gap-4 grid-cols-6 gap-2 md:mt-24 mt-12;
  }
}

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.3em; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}
