/* Resetting margin and padding */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

body {
	background-color: #473f63;
	background-image: repeating-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 0.25),
		rgba(255, 255, 255, 0.25) 1px,
		transparent 1px,
		transparent 6px
	);
	background-size: 4px 4px;
	color: white;
	font-family: 'Nova Mono', monospace;
	padding: 10em;
}
#title {
	z-index: 1;
	position: fixed;
	top: 20px;
	right: 20px;
}
#title nav {
	margin-top: 3em;
}
a {
	color: white;
	transition: all 0.4s ease-in-out;
}
a:hover {
	color: black;
	background-color: white;
}

img {
	max-width: 400px;
	max-height: 400px;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 4em;
}

@media screen and (max-width: 768px) {
	body {
		padding: 3em;
	}
}

/* General Styles */
* {
	margin: 5px 0;
}

code {
	font-size: 1.2em;
	background-color: #262627;
}
