@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: "IPAMincho";
  src:
    url("../static/fonts/IPAMincho_Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}

@layer base {
  html::view-transition-old() {
    animation-name: -ua-view-transition-fade-out;
    animation-duration: inherit;
    animation-fill-mode: inherit;
  }

  html::view-transition-new() {
    animation-name: -ua-view-transition-fade-in;
    animation-duration: inherit;
    animation-fill-mode: inherit;
  }
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 1s;
  }

  body {
    @apply bg-white text-black overflow-y-scroll font-serif;
  }

  h1 {
    @apply text-base md:text-lg;
  }
  h2 {
    @apply text-base md:text-lg;
  }
  h3 {
    @apply text-base;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-base
  }
  a {
    @apply w-fit h-fit;
  }
  img {
    @apply w-full h-full object-cover;
  }
  p {
    @apply mb-4 leading-5 text-sm;
  }
}
